@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.nav {
  display: grid;
  grid-template-areas:
    "link button"
    "list list";
  grid-template-columns: 60px 1fr;
  font-size: 14px;
  font-family: "Roboto", sans-serif;

  @include desktop {
    grid-template-areas:
      "link list button";
  }

  &__item-link {
    color: #a0a3a7;
    text-decoration: none;
    margin-inline: 4px; 
    @include desktop {
        margin-inline: 16px;
    }
}

&__list {
    grid-area: list;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  &__link {
    grid-area: link;
  }

  &__button {
    grid-area: button;
    border-radius: 999px;
    border: none;
    @include desktop {
      width: 159px;
      height: 48px;
      justify-self: right;
      align-self: center;
    }
  }
}
